 body {
     background: #f1f2f3;
     margin: 0;
     padding: 0;
 }

div#timepicker-container-1 {
    text-align: center;
    position: absolute;
    top: 50px;
    left: 50px;
}

div#timepicker-container-2 {
    text-align: center;
    position: absolute;
    top: 50px;
    left: 45%;
}

div#timepicker-container-3 {
    text-align: center;
    position: absolute;
    top: 50px;
    right: 50px;
}

div#timepicker-container-4 {
    text-align: center;
    position: absolute;
    top: 350px;
    left: 50px;
}

input#timepicker-container-5 {
    text-align: center;
    position: absolute;
    top: 350px;
    left: 45%;
}

div#timepicker-container-6 {
    text-align: center;
    position: absolute;
    top: 350px;
    right: 50px;
}

div#timepicker-container-7 {
    text-align: center;
    position: absolute;
    bottom: 50px;
    left: 50px;
}

div#timepicker-container-8 {
    text-align: center;
    position: absolute;
    bottom: 50px;
    left: 45%;
}

div#timepicker-container-9 {
    text-align: center;
    position: absolute;
    bottom: 50px;
    right: 50px;
}

input[type='text'] {
    background: transparent;
    width: 100px;
    height: 35px;
    color: #666;
    font-size: 12pt;
    border: 1px solid #888;
    padding: 5px 20px;
}
