// LIGHT THEME
// background
$lt-main-bg-color: #fafafa;
$lt-main-fg-color: #fafafa; //#fcfcfc;

// border
$lt-border-light-color: #ccc;
$lt-border-dark-color: #444;

// shadow
$lt-box-shadow-color: #cecece;

// colors
$lt-text-bg-color: #6f6f6f;
$lt-text-fg-color: #919191;
$lt-text-accent-color: #2196F3;

// DARK THEME
// background
$drk-main-bg-color: #323232;
$drk-main-fg-color: #323232; //#2D2D2D;

// border
$drk-border-light-color: #292929;
$drk-border-dark-color: #1D1D1D;

// shadow
$drk-box-shadow-color: #cecece;

// colors
$drk-text-bg-color: #CBCBCB;
$drk-text-fg-color: #999;
$drk-text-accent-color: #F50057;

div.timepicker {

    width: 220px;
    background: $lt-main-bg-color;
    position: absolute;
    border: 1px solid $lt-border-light-color;
    font: normal 200 10pt sans-serif,Arial,Verdana;
    color: $lt-text-bg-color;
    box-shadow: 0 0 4px $lt-box-shadow-color;

    .time {
        background: $lt-main-fg-color;
        width: 100%;
        font-size: 2.2em;
        text-align: center;
        position: relative;
        padding: 5px 0;

        .hour,.minute {
            display: inline-block;
            vertical-align: middle;
            cursor: pointer;

            &.active {
                color: darken($lt-text-accent-color,5%)
            }

            &:hover {
                color: $lt-text-accent-color;
            }
        }

        div.am_pm {

            font-size: 0.3em;
            padding-left: 5px;
            display: inline;

            span.ampm_button {

                width: 0;
                display: inline-block;
                vertical-align: middle;

                &:hover {
                    cursor: pointer;
                    color: $lt-text-accent-color;
                }
            }
        }
    }

    .canvas {
        width: 200px;
        height: 200px;
        margin: 10px auto;
        background: $lt-main-fg-color;
        border: 1px solid $lt-border-light-color;
        border-radius: 50%;
        box-shadow: inset 0 0 3px $lt-border-light-color;
        position: relative;
        z-index: 2;

        .faceH,.faceM {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            z-index: 1;
            cursor: pointer;
            font-size: 1em;

            span {
                display: block;
                position: absolute;
                color: $lt-text-bg-color;
                text-align: center;
                vertical-align: middle;
                cursor: inherit;

                &.outerH {
                    font-size: 0.8em;
                }

                &:hover {
                    background: rgba($lt-text-accent-color,.4);
                    border-radius: 50%;
                }
            }

        }

        .arrow {
            width: 0;
            height: 0;
            padding: 30px 1px 0 1px;
            margin: -30px -1px 0 -1px;
            transform-origin: 50% 100% 0;
            background: rgba($lt-text-accent-color,.4);
            position: absolute;
            top: 50%;
            left: 50%;

            &:after {
                content: " ";
                background: rgba($lt-text-accent-color,.4);
                border-radius: 50%;
                width: 25px;
                height: 25px;
                position: absolute;
                top:-25px;
                left:-11px;
            }

            &:before {
                content: " ";
                background: rgba($lt-text-accent-color,.4);
                border-radius: 50%;
                width: 4px;
                height: 4px;
                position: absolute;
                bottom:-1px;
                left:-1px; 
            }
        }
    }

    .buttons {
        background: $lt-main-fg-color;
        width: 100%;
        text-align: right;

        .cancel-button,.done-button {
            padding:10px 0;
            vertical-align: middle;
            display: inline-block;
            cursor: pointer;
            text-align: center;
            width: 55px;

            &:hover {
                color: $lt-text-accent-color;
            }
        }

        .done-button {
           margin-right: 10px;
        }
    }

}

.timepicker.timepicker-dark {

    background: $drk-main-bg-color;
    border: 1px solid $drk-border-light-color;
    color: $drk-text-bg-color;
    box-shadow: 0 0 4px $drk-box-shadow-color;

    .time {
        background: $drk-main-fg-color;
        color: $drk-text-fg-color;
        .hour,.minute {
            &.active {
                color: darken($drk-text-accent-color,5%)
            }
            &:hover {
                color: $drk-text-accent-color;
            }
        }

        .am_pm {
            .ampm_button {
                &:hover {
                    color: $drk-text-accent-color;
                }
            }
        }
    }

    .canvas {
        background: $drk-main-fg-color;
        border: 1px solid $drk-border-light-color;
        box-shadow: inset 0 0 20px $drk-border-light-color;

        .faceH,.faceM {

            span {
                color: $drk-text-bg-color;

                &:hover {
                    background: rgba($drk-text-accent-color,.4);
                }
            }

        }

        .arrow {
            background: rgba($drk-text-accent-color,.4);

            &:after {
                background: rgba($drk-text-accent-color,.4);
            }

            &:before {
                background: rgba($drk-text-accent-color,.4);
            }
        }
    }

    .buttons {
        background: $drk-main-fg-color;
        color: $drk-text-fg-color;
        .cancel-button,.done-button {

            &:hover {
                color: $drk-text-accent-color;
            }
        }

    }

}













